{{> menu}}

<section class="ui center aligned middle aligned segment">

  <h1>Tourist Destination</h1>

  <p>
    Welcome to the Tourist Destination Explorer. This web app can help you make a desision on where to visit around the world!
  </p>

  <img src="/travelmap.jpg" class="ui centered large image">

</section>